<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TCC</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:700" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav id="header" class="navbar fixed-top bg-dark navbar-dark">
        <div class="container">
            <div class="navbar-header">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">TCC</a>
            </div>
            <div class="text-white">
                @ViewData["Title"]
            </div>
        </div>
    </nav>
    <div class="body-content">
        @RenderBody()
    </div>
    <hr />
    <footer class="container">
        <div class="row">
            <div class="col-12">
                <p>&copy; <span id="data-atual"></span> - TCC - <a href="https://github.com/spyker0">Matheus Avi</a></p>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/popper.js/popper.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/popper.js/popper.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    <script>
        document.querySelector('#data-atual').innerHTML = new Date().getFullYear();
    </script>
</body>
</html>
